*/target
.vs
*.vcxproj.user
*/x64/Release
*.idea
*.scratch
*.DS_Store
*.local.toml
zebra-gui/icon-font/fontello-*/
zebra-crosslink/zebra_testnet.zip
zebra-crosslink/zebra_testnet
tenderlink/tenderlink.slnLaunch.user
zebra-crosslink/ZZ_two
zebra-crosslink/ZZ_one
zebra-crosslink/.AA_zebra_regtest.zip
