*/target
.vs
*.vcxproj.user
*/x64/Release
*/*/x64/Release
*/*/*/x64/Release
*.idea
*.scratch
*.DS_Store
*.local.toml
zebra-gui/icon-font/fontello-*/
zebra-crosslink/zebra_testnet.zip
zebra-crosslink/zebra_testnet
tenderlink/tenderlink.slnLaunch.user
zebra-crosslink/ZZ*
zebra-crosslink/.AA*
zebra-crosslink/zebra_crosslink.slnLaunch.user
